In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read SOC excel files

soc2018=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/soc_structure_2018.xlsx", header=7)
soc2018_changes = pd.read_excel("//Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/soc_2018_type_of_change_by_detail_occup.xlsx", header=8)
soc2010=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/soc_structure_2010.xls", header=11)
soc2018_dm=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/soc_2018_direct_match_title_file.xlsx",header=7)

In [3]:
# Labelling columns and cleaning up


soc2018 = soc2018.rename(columns = {'Unnamed: 4':'Occupation'})
soc2018_dm=soc2018_dm.drop(columns={'Illustrative Example'})

In [21]:
# searchfor = ['C','T']
# all_changes2018=soc2018_changes[soc2018_changes['Type of Change'].str.contains('|'.join(searchfor))]

In [22]:
# C_changes2018=all_changes2018[~all_changes2018['Type of Change'].str.contains('T')]
# T_changes2018=all_changes2018[~all_changes2018['Type of Change'].str.contains('C')]
# CT_changes2018=all_changes2018[~all_changes2018['Type of Change'].str.contains('T')]

In [4]:
x=soc2018.drop(soc2018[soc2018['Detailed Occupation'].isnull()].index)

In [5]:
soc2018_dm['2018 SOC Direct Match Title']=soc2018_dm['2018 SOC Direct Match Title'].str.lower()

In [6]:
soc2018['Occupation']=soc2018['Occupation'].str.lower()

In [7]:
deleted_soc=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/soc_2010_codes_deleted_in_2018.xlsx",header=7)
deleted_soc['2010 SOC Title']=deleted_soc['2010 SOC Title'].str.lower()

In [132]:
# Reading in all the datasets from 2011-2021

df2021=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2021.xlsx",header=5)
df2020=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2020.xlsx",header=5)
df2019=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2019.xlsx",header=5)
df2018=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2018.xlsx",header=5)
df2017=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2017.xlsx",header=5)
df2016=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2016.xlsx",header=5)
df2015=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2015.xlsx",header=5)
df2014=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2014.xlsx",header=5)
df2013=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2013.xlsx",header=5)
df2012=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2012.xlsx",header=5)
df2011=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2011.xlsx",header=5)

In [133]:
# Add in the years and rename the columns

df2021['Unnamed: 10'] = 2021
df2020['Unnamed: 10'] = 2020
df2019['Unnamed: 10'] = 2019
df2018['Unnamed: 10'] = 2018
df2017['Unnamed: 10'] = 2017
df2016['Unnamed: 10'] = 2016
df2015['Unnamed: 10'] = 2015
df2014['Unnamed: 10'] = 2014
df2013['Unnamed: 10'] = 2013
df2012['Unnamed: 10'] = 2012
df2011['Unnamed: 10'] = 2011


df=pd.concat([df2021,df2020,df2019,df2018,df2017,df2016,df2015,df2014,df2013,df2012,df2011])

df = df.rename(columns={'Unnamed: 0':'Occupation','Unnamed: 1':'Total','Unnamed: 2':'16-19','Unnamed: 3':'20-24','Unnamed: 4':'25-34','Unnamed: 5':'35-44','Unnamed: 6':'45-54','Unnamed: 7':'55-64','Unnamed: 8':'65<=','Unnamed: 9':'Median age','Unnamed: 10':'Year'})

In [134]:
# Drop redundant rows, eg. blank rows
df.reset_index(drop=True, inplace=True)     # Reset index to ensure the correct rows are dropped
df=df.drop(index=df.groupby('Year').head(2).index)
df=df.drop(index=df.groupby('Year').tail(2).index)
df=df[df['Occupation'].notnull()]
df.reset_index(drop=True, inplace=True)

In [135]:
# Standardize all occupations to lowercase and remove double spaces

df['Occupation'] = df['Occupation'].str.lower()
df['Occupation']=df['Occupation'].str.replace(r'\s+', ' ', regex=True)

In [12]:
# count=df.groupby(df['Occupation'].str.lower())['Occupation'].agg('count')

In [13]:
soc2018['Occupation']=soc2018['Occupation'].str.lower()

In [86]:
# joint = pd.merge(left = df[df['Year']==2018], 
#          right = soc2018,
#         how= 'left',
#         left_on='Occupation',
#         right_on='Occupation',
#         indicator=True)

In [85]:
# joint

In [84]:
# not_duplicate=joint[~joint.duplicated(['Occupation'],keep=False)]
# duplicate=joint[joint.duplicated(['Occupation'],keep=False)]

In [83]:
# duplicate

In [68]:
# duplicate[duplicate.duplicated(['Occupation'])]

In [69]:
# duplicate['Broad Group']=duplicate['Broad Group'].ffill()

In [70]:
# duplicate.groupby(duplicate['Occupation']).head(0)['Detailed Occupation'].fillna(duplicate.groupby(duplicate['Occupation']).tail(0)['Detailed Occupation'])

In [71]:
# not_duplicate[not_duplicate['_merge']=='both']

In [72]:
# joint[joint['_merge']=='left_only']

In [73]:
# joint[joint['_merge']=='right_only']

2011-2019 have the same number of occupations (and presumably the same list of occupations): 572. Meanwhile 2020-2021 have 602 rows.

In [339]:
# joint[joint['_merge']=='both']

In [96]:
# df.groupby('Year').agg('count')

In [101]:
joint_deleted = pd.merge(left = df[df['Year']!=2021|2020], 
         right = deleted_soc,
        how= 'inner',
        left_on='Occupation',
        right_on='2010 SOC Title',
        indicator=True)

In [102]:
joint_deleted

,Occupation,Total,16-19,20-24,25-34,35-44,45-54,55-64,65<=,Median age,Year,2010 SOC Group,2010 SOC Code,2010 SOC Title,_merge
0,public relations and fundraising managers,95.0,0.0,4.0,21.0,29.0,20.0,17.0,4.0,43,2020,Detailed,11-2031,public relations and fundraising managers,both
1,public relations and fundraising managers,73.0,0.0,2.0,19.0,12.0,17.0,19.0,4.0,44.8,2019,Detailed,11-2031,public relations and fundraising managers,both
2,public relations and fundraising managers,69.0,0.0,1.0,13.0,19.0,21.0,10.0,6.0,45,2018,Detailed,11-2031,public relations and fundraising managers,both
3,public relations and fundraising managers,73.0,0.0,2.0,23.0,17.0,17.0,12.0,1.0,41.4,2017,Detailed,11-2031,public relations and fundraising managers,both
4,public relations and fundraising managers,62.0,0.0,2.0,19.0,17.0,16.0,8.0,1.0,42.8,2016,Detailed,11-2031,public relations and fundraising managers,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,mine shuttle car operators,4.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,–,2013,Detailed,53-7111,mine shuttle car operators,both
497,mine shuttle car operators,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,–,2012,Broad,53-7110,mine shuttle car operators,both
498,mine shuttle car operators,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,–,2012,Detailed,53-7111,mine shuttle car operators,both
499,mine shuttle car operators,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,–,2011,Broad,53-7110,mine shuttle car operators,both
500,mine shuttle car operators,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,–,2011,Detailed,53-7111,mine shuttle car operators,both

In [23]:
joint = pd.merge(left = df[df['Year']==2021], 
         right = df[df['Year']==2018],
        how= 'outer',
        left_on='Occupation',
        right_on='Occupation',
        indicator=True)

In [137]:
# joint[joint['_merge']=='left_only'].to_excel('Compare2.xlsx', sheet_name='2021')

In [138]:
# joint[joint['_merge']=='right_only'].to_excel('Compare.xlsx', sheet_name='2018')

Import Changes.xlsx

In [200]:
changes2010=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data cleaning/Changes.xlsx",sheet_name=0)
changes2018=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data cleaning/Changes.xlsx",sheet_name=1)

In [205]:
changes2010

,Occupation,Action,Map to
1,administrative services managers,change,administrative services and facilities managers
2,education administrators,change,education and childcare administrators
3,funeral service managers,change,funeral home managers
4,gaming managers,change,entertainment and recreation managers
5,appraisers and assessors of real estate,change,property appraisers and assessors
...,...,...,...
169,"laborers and freight, stock, and material move...",combine but keep,material moving workers
170,machine feeders and offbearers,combine but keep,material moving workers
171,"packers and packagers, hand",combine but keep,material moving workers
172,pumping station operators,combine but keep,material moving workers
173,refuse and recyclable material collectors,combine but keep,material moving workers

In [202]:
# Remove unwanted columns

changes2010.drop(changes2010.columns[[0,2,3,4,5,6,7,8,9,10,11,14]],axis=1,inplace=True)
changes2018.drop(changes2018.columns[[0,2,3,4,5,6,7,8,9,10,11,14]],axis=1,inplace=True)

# Lower case all strings
changes2010['Occupation']=changes2010['Occupation'].str.lower()
changes2010['Action']=changes2010['Action'].str.lower()
changes2010['Map to']=changes2010['Map to'].str.lower()

changes2018['Occupation']=changes2018['Occupation'].str.lower()
changes2018['Action']=changes2018['Action'].str.lower()
changes2018['Map to']=changes2018['Map to'].str.lower()

In [203]:
# Remove all rows with 'Action' == '-' since no action needs to be taken

changes2018.drop(index=changes2018[changes2018['Action']=='-'].index,inplace=True)
changes2010.drop(index=changes2010[changes2010['Action']=='-'].index,inplace=True)

Carry out the 'change' action, i.e. renaming occupations

In [223]:
df_test=df.copy()
test=changes2018.copy()

In [252]:
joint_test = pd.merge(left = df_test[df_test['Year']>2019], 
         right = test[test['Action']=='change'],
        how= 'left',
        left_on='Occupation',
        right_on='Occupation',)

In [272]:
joint_test.loc[joint_test['Action'].notnull(),'Occupation']=joint_test.loc[joint_test['Action'].notnull(),'Map to']

In [293]:
# joint_test.loc[joint_test['Action'].notnull()]

In [288]:
joint_test.drop(joint_test.columns[[-1,-2]],axis=1,inplace=True)

In [289]:
df_test.loc[df_test['Year']>2019]=joint_test

In [294]:
# df_test.loc[df_test['Occupation']=='financial specialists, all other']