In [83]:
import numpy as np
import pandas as pd

In [248]:
# Read SOC excel files

soc2018=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/soc_structure_2018.xlsx", header=7)
soc2018_changes = pd.read_excel("//Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/soc_2018_type_of_change_by_detail_occup.xlsx", header=8)
soc2010=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/soc_structure_2010.xls", header=11)
soc2018_dm=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/soc_2018_direct_match_title_file.xlsx",header=7)

In [251]:
# Labelling columns and cleaning up


soc2018 = soc2018.rename(columns = {'Unnamed: 4':'Occupation'})
soc2018_dm=soc2018_dm.drop(columns={'Illustrative Example'})

In [21]:
searchfor = ['C','T']
all_changes2018=soc2018_changes[soc2018_changes['Type of Change'].str.contains('|'.join(searchfor))]

In [22]:
C_changes2018=all_changes2018[~all_changes2018['Type of Change'].str.contains('T')]
T_changes2018=all_changes2018[~all_changes2018['Type of Change'].str.contains('C')]
CT_changes2018=all_changes2018[~all_changes2018['Type of Change'].str.contains('T')]

In [23]:
x=soc2018.drop(soc2018[soc2018['Detailed Occupation'].isnull()].index)

In [34]:
soc2018_dm['2018 SOC Direct Match Title']=soc2018_dm['2018 SOC Direct Match Title'].str.lower()

In [51]:
soc2018['Occupation']=soc2018['Occupation'].str.lower()

In [359]:
# Reading in all the datasets from 2011-2021

df2021=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2021.xlsx",header=5)
df2020=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2020.xlsx",header=5)
df2019=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2019.xlsx",header=5)
df2018=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2018.xlsx",header=5)
df2017=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2017.xlsx",header=5)
df2016=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2016.xlsx",header=5)
df2015=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2015.xlsx",header=5)
df2014=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2014.xlsx",header=5)
df2013=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2013.xlsx",header=5)
df2012=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2012.xlsx",header=5)
df2011=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2011.xlsx",header=5)

In [360]:
# Add in the years and rename the columns

df2021['Unnamed: 10'] = 2021
df2020['Unnamed: 10'] = 2020
df2019['Unnamed: 10'] = 2019
df2018['Unnamed: 10'] = 2018
df2017['Unnamed: 10'] = 2017
df2016['Unnamed: 10'] = 2016
df2015['Unnamed: 10'] = 2015
df2014['Unnamed: 10'] = 2014
df2013['Unnamed: 10'] = 2013
df2012['Unnamed: 10'] = 2012
df2011['Unnamed: 10'] = 2011


df=pd.concat([df2021,df2020,df2019,df2018,df2017,df2016,df2015,df2014,df2013,df2012,df2011])

df = df.rename(columns={'Unnamed: 0':'Occupation','Unnamed: 1':'Total','Unnamed: 2':'16-19','Unnamed: 3':'20-24','Unnamed: 4':'25-34','Unnamed: 5':'35-44','Unnamed: 6':'45-54','Unnamed: 7':'55-64','Unnamed: 8':'65<=','Unnamed: 9':'Median age','Unnamed: 10':'Year'})

In [364]:
# Drop redundant rows, eg. blank rows

df=df.drop(index=df.groupby('Year').head(2).index)
df=df.drop(index=df.groupby('Year').tail(2).index)
df=df[df['Occupation'].notnull()]

In [368]:
df['Occupation'] = df['Occupation'].str.lower()
df['Occupation']=df['Occupation'].str.replace(r'\s+', ' ', regex=True)

In [369]:
count=df.groupby(df['Occupation'].str.lower())['Occupation'].agg('count')

In [264]:
soc2018['Occupation']=soc2018['Occupation'].str.lower()

In [265]:
# joint = pd.merge(left = df[df['Year']==2021], 
#          right = soc2018,
#         how= 'outer',
#         left_on='Occupation',
#         right_on='Occupation',
#         indicator=True)

In [337]:
# joint[joint['_merge']=='left_only']

In [338]:
# joint[joint['_merge']=='right_only']

2011-2019 have the same number of occupations (and presumably the same list of occupations): 572. Meanwhile 2020-2021 have 602 rows.

In [339]:
# joint[joint['_merge']=='both']

In [370]:
df.groupby('Year').agg('count')

,Occupation,Total,16-19,20-24,25-34,35-44,45-54,55-64,65<=,Median age
Year,,,,,,,,,,
2011,564,564,564,564,564,564,564,564,564,564
2012,564,564,564,564,564,564,564,564,564,564
2013,564,564,564,564,564,564,564,564,564,564
2014,564,564,564,564,564,564,564,564,564,564
2015,564,564,564,564,564,564,564,564,564,564
2016,564,564,564,564,564,564,564,564,564,564
2017,564,564,564,564,564,564,564,564,564,564
2018,564,564,564,564,564,564,564,564,564,564
2019,564,564,564,564,564,564,564,564,564,564
2020,592,592,592,592,592,592,592,592,592,592
2021,592,592,592,592,592,592,592,592,592,592

In [343]:
# joint = pd.merge(left = df[df['Year']==2021], 
#          right = df[df['Year']==2020],
#         how= 'outer',
#         left_on='Occupation',
#         right_on='Occupation',
#         indicator=True)

In [342]:
# joint[joint['_merge']=='left_only']
# joint[joint['_merge']=='right_only']

In [353]:
df

Empty DataFrame
Columns: [Occupation, Total, 16-19, 20-24, 25-34, 35-44, 45-54, 55-64, 65<=, Median age, Year]
Index: []