In [2]:
import numpy as np
import pandas as pd

In [3]:
soc2018=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/soc_structure_2018.xlsx", header=7)
soc2018_changes = pd.read_excel("//Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/soc_2018_type_of_change_by_detail_occup.xlsx", header=8)
soc2010=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/soc_structure_2010.xls", header=11)

In [5]:
df2021=pd.read_excel("/Users/terencetan/Documents/Uni stuff/Engineering Science/4YP/4YP-The-Future-of-Work/Data/Age/cpsaat11b2021.xlsx",header=5)

In [74]:
df2021 = df2021.rename(columns={'Unnamed: 0':'Occupation','Unnamed: 1':'Total','Unnamed: 2':'16-19','Unnamed: 3':'20-24','Unnamed: 4':'25-34','Unnamed: 5':'35-44','Unnamed: 6':'45-54','Unnamed: 7':'55-64','Unnamed: 8':'65<=','Unnamed: 9':'Median age'})
df2021 = df2021.drop(columns='Unnamed: 10')

In [22]:
searchfor = ['C','T']
all_changes2018=soc2018_changes[soc2018_changes['Type of Change'].str.contains('|'.join(searchfor))]

In [25]:
C_changes2018=all_changes2018[~all_changes2018['Type of Change'].str.contains('T')]
T_changes2018=all_changes2018[~all_changes2018['Type of Change'].str.contains('C')]
CT_changes2018=all_changes2018[~all_changes2018['Type of Change'].str.contains('T')]

In [78]:
T_changes2018

,2018 SOC Code,2018 SOC Detailed Occupation,Type of Change
20,11-9031,"Education and Childcare Administrators, Presch...","T, E, F"
21,11-9032,"Education Administrators, Kindergarten through...","T, E"
26,11-9071,Gambling Managers,"T, E, F"
63,13-2051,Financial and Investment Analysts,"T, D, F"
100,17-2031,Bioengineers and Biomedical Engineers,"T, E"
120,17-3021,Aerospace Engineering and Operations Technolog...,"T, E"
121,17-3022,Civil Engineering Technologists and Technicians,T
122,17-3023,Electrical and Electronic Engineering Technolo...,"T, E"
123,17-3024,Electro-Mechanical and Mechatronics Technologi...,"T, E, F"
124,17-3025,Environmental Engineering Technologists and Te...,T
125,17-3026,Industrial Engineering Technologists and Techn...,T
126,17-3027,Mechanical Engineering Technologists and Techn...,"T, E"
128,17-3029,"Engineering Technologists and Technicians, Exc...","T, D, F"
179,21-1012,"Educational, Guidance, and Career Counselors a...","T, E, F"
188,21-1091,Health Education Specialists,"T, E, F"
237,25-1192,"Family and Consumer Sciences Teachers, Postsec...","T, F"
239,25-1194,"Career/Technical Education Teachers, Postsecon...","T, E, F"
254,25-3011,"Adult Basic Education, Adult Secondary Educati...","T, E, F"
255,25-3021,Self-Enrichment Teachers,"T, E, F"
264,25-9021,Farm and Home Management Educators,"T, E"
270,25-9099,"Educational Instruction and Library Workers, A...","T, E, F"
274,27-1014,Special Effects Artists and Animators,"T, E"
295,27-3011,Broadcast Announcers and Radio Disc Jockeys,"T, E, F"
304,27-4011,Audio and Video Technicians,"T, E, F"
309,27-4031,"Camera Operators, Television, Video, and Film","T, E, F"
362,29-2034,Radiologic Technologists and Technicians,"T, E"
419,33-9031,Gambling Surveillance Officers and Gambling In...,"T, E, F"
421,33-9091,Crossing Guards and Flaggers,T
457,39-2021,Animal Caretakers,"T, E, F"
458,39-3011,Gambling Dealers,"T, E"
459,39-3012,Gambling and Sports Book Writers and Runners,"T, F"
460,39-3019,"Gambling Service Workers, All Other","T, E"
470,39-4031,"Morticians, Undertakers, and Funeral Arrangers","T, E, F"
482,39-9031,Exercise Trainers and Group Fitness Instructors,"T, E, F"
489,41-2012,Gambling Change Persons and Booth Cashiers,"T, F"
515,43-3041,Gambling Cage Workers,"T, E, F"
539,43-5031,Public Safety Telecommunicators,"T, E, F"
546,43-5071,"Shipping, Receiving, and Inventory Clerks","T, E, F"
549,43-6012,Legal Secretaries and Administrative Assistants,T
550,43-6013,Medical Secretaries and Administrative Assistants,T
584,47-2044,Tile and Stone Setters,"T, E"
589,47-2072,Pile Driver Operators,"T, E, F"
615,47-4021,Elevator and Escalator Installers and Repairers,T
625,47-5013,"Service Unit Operators, Oil and Gas","T, E, F"
632,47-5049,"Underground Mining Machine Operators, All Other","T, D, F"
647,49-2097,Audiovisual Equipment Installers and Repairers,"T, E"
676,49-9064,Watch and Clock Repairers,"T, E"
728,51-4193,"Plating Machine Setters, Operators, and Tender...","T, E, F"
782,51-9141,Semiconductor Processing Technicians,T
808,53-3033,Light Truck Drivers,"T, E, F"
825,53-6021,Parking Attendants,"T, E, F"
830,53-6061,Passenger Attendants,"T, E"

In [45]:
pd.merge(left = soc2018, 
         right = df2021,
        how= 'inner',
        left_on='Unnamed: 4',
        right_on='Unnamed: 0')

,Major Group,Minor Group,Broad Group,Detailed Occupation,Unnamed: 4,Unnamed: 0,"Total, 16\nyears and\n over",16 to 19 \nyears,20 to 24 \nyears,25 to 34 \nyears,35 to 44 \nyears,45 to 54 \nyears,55 to 64 \nyears,65 years\nand over,Median\n age,Unnamed: 10
0,NaN,NaN,11-1030,NaN,Legislators,Legislators,21.0,0.0,1.0,3.0,3.0,3.0,6.0,6.0,–,NaN
1,NaN,NaN,NaN,11-1031,Legislators,Legislators,21.0,0.0,1.0,3.0,3.0,3.0,6.0,6.0,–,NaN
2,NaN,NaN,NaN,13-1081,Logisticians,Logisticians,132.0,0.0,9.0,29.0,25.0,41.0,22.0,5.0,45,NaN
3,NaN,NaN,13-1130,NaN,Fundraisers,Fundraisers,93.0,0.0,4.0,20.0,28.0,23.0,10.0,8.0,42.7,NaN
4,NaN,NaN,NaN,13-1131,Fundraisers,Fundraisers,93.0,0.0,4.0,20.0,28.0,23.0,10.0,8.0,42.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,NaN,NaN,51-3010,NaN,Bakers,Bakers,229.0,11.0,30.0,46.0,46.0,46.0,36.0,15.0,41.7,NaN
73,NaN,NaN,NaN,51-3011,Bakers,Bakers,229.0,11.0,30.0,46.0,46.0,46.0,36.0,15.0,41.7,NaN
74,NaN,NaN,51-4040,NaN,Machinists,Machinists,323.0,3.0,29.0,68.0,70.0,57.0,79.0,17.0,44.4,NaN
75,NaN,NaN,NaN,51-4041,Machinists,Machinists,323.0,3.0,29.0,68.0,70.0,57.0,79.0,17.0,44.4,NaN
76,NaN,NaN,NaN,51-6093,Upholsterers,Upholsterers,20.0,0.0,1.0,4.0,3.0,5.0,6.0,1.0,–,NaN